# Joining the 2020 Census data population estimates to Zillow housing data

In [65]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import requests
from bs4 import BeautifulSoup
import re
from numpy import random
repo1 = 'C:\\Users\\whetz\\Documents\\UVA MSDS\\Bayes Machine Learning\\Project\\bayes_real_estate_modeling'
pd.set_option("display.max_columns", 100)

# Get population data

https://www.census.gov/programs-surveys/popest/technical-documentation/research/evaluation-estimates/2020-evaluation-estimates/2010s-totals-metro-and-micro-statistical-areas.html

### Population -  Read in data, and get isolated region and state data

In [36]:
os.chdir(repo1)
df_pop2020 = pd.read_csv('cbsa-est2020-alldata.csv')

# Filter for just MSAs
df_pop2020 = df_pop2020.query("LSAD == 'Metropolitan Statistical Area'").reset_index(drop=True)

# Drop unnecessary columns
df_pop2020 = df_pop2020.drop(columns=['CBSA','MDIV','STCOU', 'LSAD'])

# Get the primary (first listed) state of each area
df_pop2020.insert(loc=1, column='state', value=[i.split(', ')[1].split('-')[0] for i in df_pop2020.NAME])

# Get the primary city
df_pop2020.insert(loc=1, column='city', value=[i.split('-')[0] for i in df_pop2020.NAME])
df_pop2020.city = [df_pop2020.city.loc[i].split(',')[0] for i in range(len(df_pop2020))]

print("Rows:",len(df_pop2020))
df_pop2020.sort_values('POPESTIMATE2020', ascending=False).head(10)
# df_pop2020.head()

Rows: 384

,NAME,city,state,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020,NPOPCHG2010,NPOPCHG2011,NPOPCHG2012,NPOPCHG2013,NPOPCHG2014,NPOPCHG2015,NPOPCHG2016,NPOPCHG2017,NPOPCHG2018,NPOPCHG2019,NPOPCHG2020,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,BIRTHS2016,BIRTHS2017,BIRTHS2018,BIRTHS2019,BIRTHS2020,DEATHS2010,DEATHS2011,DEATHS2012,DEATHS2013,DEATHS2014,DEATHS2015,DEATHS2016,DEATHS2017,DEATHS2018,DEATHS2019,DEATHS2020,NATURALINC2010,...,NATURALINC2015,NATURALINC2016,NATURALINC2017,NATURALINC2018,NATURALINC2019,NATURALINC2020,INTERNATIONALMIG2010,INTERNATIONALMIG2011,INTERNATIONALMIG2012,INTERNATIONALMIG2013,INTERNATIONALMIG2014,INTERNATIONALMIG2015,INTERNATIONALMIG2016,INTERNATIONALMIG2017,INTERNATIONALMIG2018,INTERNATIONALMIG2019,INTERNATIONALMIG2020,DOMESTICMIG2010,DOMESTICMIG2011,DOMESTICMIG2012,DOMESTICMIG2013,DOMESTICMIG2014,DOMESTICMIG2015,DOMESTICMIG2016,DOMESTICMIG2017,DOMESTICMIG2018,DOMESTICMIG2019,DOMESTICMIG2020,NETMIG2010,NETMIG2011,NETMIG2012,NETMIG2013,NETMIG2014,NETMIG2015,NETMIG2016,NETMIG2017,NETMIG2018,NETMIG2019,NETMIG2020,RESIDUAL2010,RESIDUAL2011,RESIDUAL2012,RESIDUAL2013,RESIDUAL2014,RESIDUAL2015,RESIDUAL2016,RESIDUAL2017,RESIDUAL2018,RESIDUAL2019,RESIDUAL2020
249,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,18897109,18896285,18923437,19053124,19150453,19227457,19282138,19322239,19336456,19325115,19289420,19232494,19124359,27152,129687,97329,77004,54681,40101,14217,-11341,-35695,-56926,-108135,61878,247572,243023,242529,240755,242697,241453,236744,235154,229366,226416,31931,135400,131949,138295,134684,138029,136119,140309,140953,148762,163362,29947,...,104668,105334,96435,94201,80604,63054,21868,103617,98508,89001,95069,104228,106460,95474,68752,57282,46173,-24138,-86161,-111777,-115585,-146459,-169071,-197835,-203430,-198717,-194533,-216810,-2270,17456,-13269,-26584,-51390,-64843,-91375,-107956,-129965,-137251,-170637,-525,59,-476,-646,0,276,258,180,69,-279,-552
210,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,CA,12828837,12828904,12838023,12923899,13010104,13092451,13159972,13226215,13259142,13266524,13237112,13182453,13109903,9119,85876,86205,82347,67521,66243,32927,7382,-29412,-54659,-72550,41041,170873,166999,168283,167328,167101,159988,159348,150001,144314,142952,18118,75847,75792,78859,76524,79629,82780,82813,84887,87482,96746,22923,...,87472,77208,76535,65114,56832,46206,7605,40264,33724,41167,46197,54218,48748,39948,25488,11676,9909,-21547,-49359,-36684,-46809,-68352,-74778,-92981,-109079,-120151,-123237,-128803,-13942,-9095,-2960,-5642,-22155,-20560,-44233,-69131,-94663,-111561,-118894,138,-55,-2042,-1435,-1128,-669,-48,-22,137,70,138
68,"Chicago-Naperville-Elgin, IL-IN-WI",Chicago,IL,9461105,9461540,9470661,9500919,9528134,9550227,9560285,9552351,9533732,9513947,9485403,9454282,9406638,9121,30258,27215,22093,10058,-7934,-18619,-19785,-28544,-31121,-47644,32252,123459,121750,119170,119145,120059,117796,113474,111301,107294,106292,16097,66706,66893,68803,67701,71108,70153,72507,73314,74556,81256,16155,...,48951,47643,40967,37987,32738,25036,3911,25473,22153,22233,23468,24536,19728,24054,16672,9890,8482,-10732,-52050,-49504,-50212,-64927,-81686,-86136,-84977,-83378,-73824,-81174,-6821,-26577,-27351,-27979,-41459,-57150,-66408,-60923,-66706,-63934,-72692,-213,82,-291,-295,73,265,146,171,175,75,12
86,"Dallas-Fort Worth-Arlington, TX",Dallas,TX,6366542,6366541,6392097,6510550,6644519,6753804,6889603,7042322,7195475,7337707,7457586,7574390,7694138,25556,118453,133969,109285,135799,152719,153153,142232,119879,116804,119748,23615,95698,95063,95690,97814,99549,100304,99533,98125,97160,97614,8883,37163,37440,39411,40309,41823,42220,44479,45848,47767,52487,14732,...,57726,58084,55054,52277,49393,45127,4092,19843,22130,21802,30420,34612,33416,30276,22088,20938,16894,6353,39956,53322,31209,47714,60142,61552,56872,45394,46542,58026,10445,59799,75452,53011,78134,94754,94968,87148,67482,67480,74920,379,119,894,-5,160,239,101,30,120,-69,-299
159,"Houston-The Woodlands-Sugar Land, TX",Houston,TX,5920416,5920485,5947185,6056008,6183119,6327622,6499375,6670803,6806315,6898912,6974948,7063400,7154478,26700,108823,127111,144503,171753,171428,135512,92597,76036,88452,91078,22307,92011,91507,93047,97398,100689,102808,98810,95966,94919,94996,8297,32786,33662,35740,36473,37990,38924,39712,41942,43699,48272,14010,...,62699,63884,59098,54024,51220,46724,5543,26030,29948,31711,42715,46309,44442,42747,32132,31152,24587,7074,23581,39042,54770,66988,62064,27136,-9472,-10274,6028,19760,12617,49611,68990,86481,109703,108373,71578,33275,21858,37180,44347,73,-13,276,715,1125,356,50,224,154,52,7
365,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Washington,DC,5649540,5649698,5678733,5783752,5881329,5966559,6036388,6099163,6155359,6217791,6256312,6297454,6324629,29035,105019,97577,85230,69829,62775,56196,62432,38521,41142,27175,20180,80453,80213,80700,80812,81903,81932,80261,79831,77498,76870,7696,31456,31052,32930,32177,34035,34000,36365,36307,38235,42699,12484,...,47868,47932,43896,43524,39263,34171,8165,31147,41809,34500,42824,47101,40486,40284,25154,30731,23895,7921,24663,6441,2885,-22156,-32494,-32381,-21797,-30237,-28839,-30953,16086,55810,48250,37385,20668,14607,8105,18487,-5083,1892,-7058,465,212,166,75,526,300,159,49,80,-13,62
225,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami,FL,5564635,5566285,5583460,5668482,5746090,5823221,5894379,5969756,6055139,6115654,6140602,6164887,6173008,17175,85022,77608,77131,71158,75377,85383,60515,24948,24285,8121,15682,66107,66327,65932,67943,68803,70555,69482,68739,67259,66442,11331,45928,45463,46780,46047,48480,49319,50334,50865,51285,57339,4351,...,20323,21236,19148,17874,15974,9103,13028,57427,54557,59492,62123,71057,83434,86694,65189,57498,45122,194,7447,2221,-1209,-12855,-16029,-19259,-45385,-58192,-49123,-46036,13222,64874,56778,58283,49268,55028,64175,41309,6997,8375,-914,-398,-31,-34,-304,-6,26,-28,58,77,-64,-68
269,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia,PA,5965343,5965874,5971202,5996995,6017788,6031789,6049852,6060137,6070160,6082355,6096805,6104777,6107906,5328,25793,20793,14001,18063,10285,10023,12195,14450,7972,3129,18407,74002,73182,71898,72688,71800,70052,69171,69052,67630,67333,12693,52648,51847,53904,52660,54354,53765,56490,56904,57592,61899,5714,...,17446,16287,12681,12148,10038,5434,3654,17140,15280,17933,20120,19581,21762,18430,16592,9053,8321,-3551,-12558,-15033,-21504,-21451,-26442,-27894,-18663,-14067,-11104,-10765,103,4582,247,-3571,-1331,-6861,-6132,-233,2525,-2051,-2444,-489,-143,-789,-422,-634,-300,-132,-253,-223,-15,139
17,"Atlanta-Sandy Springs-Alpharetta, GA",Atlanta,GA,5286728,5286689,5302733,5367069,5445543,5512111,5595218,5688583,5791874,5876763,5951394,6027231,6087762,16044,64336,78474,66568,83107,93365,103291,84889,74631,75837,60531,18133,73825,72541,71158,72498,73732,73615,72976,72128,70896,71104,7717,32077,31383,33696,34077,36041,36495,37464,38923,40402,44971,10416,...,37691,37120,35512,33205,30494,26133,3217,10241,14798,17071,13016,18718,27390,17571,14681,13551,10787,2093,12243,22099,11896,31786,37043,38801,31798,26736,31762,23587,5310,22484,36897,28967,44802,55761,66191,49369,41417,45313,34374,318,104,419,139,-116,-87,-20,8,9,30,24
270,"Phoenix-Mesa-Chandler, AZ",Phoenix,AZ,4192887,4193137,4204289,4253485,4330536,4404231,4490405,4580345,4675331,4760717,4851830,4953901,5059909,11152,49196,77051,73695,86174,89940,94986,85386,91113,102071,106008,14293,58290,58824,59268,59170,60173,58908,57692,56432,56978,57251,6952,28295,28511,29915,29678,31260,33317,33486,35422,36487,40024,7341,...,28913,25591,24206,21010,20491,17227,1999,13122,11569,13790,16263,14059,15575,10248,6176,8260,6590,1961,6076,34663,30342,39879,46673,53677,50757,63682,73318,82380,3960,19198,46232,44132,56142,60732,69252,61005,69858,81578,88970,-149,3,506,210,540,295,143,175,245,2,-189

### Population -   Melt the dataframe and get year data so that every row has city, state, year and a census variable

In [37]:
# Melt the dataframe to get one observation per row
id_cols = ['NAME','city','state']
value_cols = [i for i in df_pop2020.columns if i not in id_cols]
df_census_melt = df_pop2020.melt(id_vars=id_cols, value_vars = value_cols, var_name='census_variable', value_name='census_value')

# Get the year
df_census_melt.insert(loc=3, column='year', value = [int(re.findall("[0-9][0-9][0-9][0-9]", i)[0]) for i in df_census_melt.census_variable])

# Remove year from variable
df_census_melt.census_variable = [df_census_melt.census_variable.loc[i].replace(str(df_census_melt.year.loc[i]),'') for i in range(len(df_census_melt))]

# Sort by NAME
df_census_melt = df_census_melt.sort_values(['NAME','census_variable','year'])
df_census_melt.sort_values('census_value', ascending=False)

,NAME,city,state,year,census_variable,census_value
3321,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2016,POPESTIMATE,19336456
3705,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2017,POPESTIMATE,19325115
2937,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2015,POPESTIMATE,19322239
4089,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2018,POPESTIMATE,19289420
2553,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2014,POPESTIMATE,19282138
...,...,...,...,...,...,...
29817,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2019,DOMESTICMIG,-194533
28665,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2016,DOMESTICMIG,-197835
29433,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2018,DOMESTICMIG,-198717
29049,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2017,DOMESTICMIG,-203430
30201,"New York-Newark-Jersey City, NY-NJ-PA",New York,NY,2020,DOMESTICMIG,-216810

### Population -  Pivot the data so that each row has all the population data for a single region and year

In [38]:
# Pivot to make the rows into columns - now every row has the primary key of city, state, and year
df_census_pivot = df_census_melt.pivot(index=['NAME','city','state','year'], columns='census_variable', values='census_value').reset_index()

# Drop NAME
df_census_pivot = df_census_pivot.drop(columns='NAME')

# Make columns census specific
id_cols = ['city','state','year']
value_cols = [i for i in df_census_pivot.columns if i not in id_cols]
new_cols = [i.lower()+'_census' for i in value_cols]

col_dict = {}
count = 0
for i in range(len(value_cols)):
    col_dict[value_cols[i]] = new_cols[count]
    count += 1
    
df_census_pivot = df_census_pivot.rename(col_dict, axis=1)

df_census_pivot.head()

census_variable,city,state,year,births_census,censuspop_census,deaths_census,domesticmig_census,estimatesbase_census,internationalmig_census,naturalinc_census,netmig_census,npopchg_census,popestimate_census,residual_census
0,Abilene,TX,2010,541.0,165252.0,410.0,123.0,165252.0,89.0,131.0,212.0,338.0,165590.0,-5.0
1,Abilene,TX,2011,2292.0,NaN,1501.0,68.0,NaN,206.0,791.0,274.0,1061.0,166651.0,-4.0
2,Abilene,TX,2012,2359.0,NaN,1590.0,-456.0,NaN,529.0,769.0,73.0,832.0,167483.0,-10.0
3,Abilene,TX,2013,2391.0,NaN,1691.0,-1064.0,NaN,373.0,700.0,-691.0,32.0,167515.0,23.0
4,Abilene,TX,2014,2385.0,NaN,1597.0,-308.0,NaN,433.0,788.0,125.0,893.0,168408.0,-20.0

### Top 10 MSAs by population in 2020

In [39]:
df_census_melt.query("census_variable == 'POPESTIMATE' & year == 2020").sort_values('census_value', ascending = False).head(10)[['city','state','census_variable','census_value']]

              city state census_variable  census_value
4857      New York    NY     POPESTIMATE      19124359
4818   Los Angeles    CA     POPESTIMATE      13109903
4676       Chicago    IL     POPESTIMATE       9406638
4694        Dallas    TX     POPESTIMATE       7694138
4767       Houston    TX     POPESTIMATE       7154478
4973    Washington    DC     POPESTIMATE       6324629
4833         Miami    FL     POPESTIMATE       6173008
4877  Philadelphia    PA     POPESTIMATE       6107906
4625       Atlanta    GA     POPESTIMATE       6087762
4878       Phoenix    AZ     POPESTIMATE       5059909

# Housing ZHVI Data
Zillow Housing Value Index

### Population -  Read in data, and get isolated region and state data

In [40]:
df_zhvi = pd.read_csv('Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

# Filter for only MSAs
df_zhvi = df_zhvi.query("RegionType == 'Msa'").reset_index(drop=True)

# Change problematic apostrophes in RegionName
df_zhvi.RegionName = [df_zhvi.RegionName.loc[i].replace("'", '^') for i in range(len(df_zhvi))]

# Drop unnecessary columns & rename StateName
df_zhvi = df_zhvi.drop(columns=['RegionID','SizeRank','RegionType'])
df_zhvi = df_zhvi.rename({'StateName':'state'}, axis=1)

# Get the primary city
df_zhvi.insert(loc=1, column='city', value=[i.split('-')[0] for i in df_zhvi.RegionName])
df_zhvi.city = [df_zhvi.city.loc[i].split(',')[0] for i in range(len(df_zhvi))]
df_zhvi

,RegionName,city,state,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,2000-11-30,2000-12-31,2001-01-31,2001-02-28,2001-03-31,2001-04-30,2001-05-31,2001-06-30,2001-07-31,2001-08-31,2001-09-30,2001-10-31,2001-11-30,2001-12-31,2002-01-31,2002-02-28,2002-03-31,2002-04-30,2002-05-31,2002-06-30,2002-07-31,2002-08-31,2002-09-30,2002-10-31,2002-11-30,2002-12-31,2003-01-31,2003-02-28,2003-03-31,2003-04-30,2003-05-31,2003-06-30,2003-07-31,2003-08-31,2003-09-30,2003-10-31,2003-11-30,...,2017-08-31,2017-09-30,2017-10-31,2017-11-30,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30
0,"New York, NY",New York,NY,225438.0,226785.0,227997.0,230383.0,232604.0,234969.0,237454.0,240026.0,242606.0,245159.0,247613.0,249910.0,252122.0,254555.0,256934.0,259418.0,261773.0,264319.0,266796.0,269475.0,272188.0,275180.0,277937.0,280597.0,283283.0,285900.0,288448.0,290906.0,293506.0,296454.0,299629.0,303552.0,307660.0,311762.0,315400.0,319080.0,322784.0,326589.0,330669.0,334467.0,338342.0,342056.0,345984.0,349766.0,353211.0,356423.0,359423.0,...,448732.0,450575.0,452292.0,453957.0,455660.0,457787.0,460405.0,463361.0,466397.0,468780.0,470440.0,471151.0,471856.0,473039.0,474740.0,476592.0,478161.0,479178.0,480058.0,480959.0,481965.0,482654.0,482852.0,482820.0,482546.0,482079.0,481540.0,481244.0,481784.0,482818.0,484301.0,485725.0,487222.0,488035.0,488594.0,489815.0,492415.0,496938.0,502448.0,508501.0,514350.0,519193.0,523962.0,528241.0,532983.0,538439.0,545638.0,553551.0,561136.0,567059.0
1,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,CA,231209.0,232014.0,233247.0,235592.0,238105.0,240479.0,242910.0,245461.0,247891.0,250113.0,252170.0,254337.0,256001.0,257805.0,259727.0,262406.0,265034.0,267457.0,269935.0,272519.0,275198.0,277854.0,280168.0,282603.0,284611.0,286977.0,289795.0,293379.0,297456.0,301615.0,306850.0,312302.0,317852.0,322809.0,327730.0,332593.0,336688.0,340469.0,344653.0,349330.0,355159.0,359770.0,365789.0,372077.0,379534.0,385684.0,391663.0,...,617400.0,619601.0,624373.0,630304.0,635487.0,640399.0,645573.0,650599.0,655148.0,657699.0,660565.0,660997.0,661875.0,662325.0,665582.0,667436.0,666925.0,665764.0,663614.0,662272.0,661841.0,662809.0,663827.0,662891.0,663616.0,666330.0,670631.0,672643.0,674454.0,677430.0,683527.0,690489.0,695613.0,693703.0,690803.0,692544.0,701716.0,712332.0,722297.0,729787.0,736123.0,741232.0,748830.0,756443.0,767598.0,783132.0,803315.0,824025.0,837548.0,846526.0
2,"Chicago, IL",Chicago,IL,170602.0,171004.0,171525.0,172568.0,173673.0,174768.0,175979.0,177338.0,178743.0,180125.0,181380.0,182607.0,183756.0,184773.0,185926.0,187060.0,188457.0,189749.0,191055.0,192376.0,193710.0,195136.0,196320.0,197391.0,198304.0,199368.0,200651.0,201729.0,202936.0,204042.0,205524.0,207038.0,208502.0,209848.0,210811.0,211975.0,213097.0,214459.0,215686.0,217089.0,218296.0,219399.0,220420.0,221734.0,223214.0,224614.0,225854.0,...,227615.0,228268.0,229173.0,230317.0,231756.0,233362.0,234721.0,235523.0,236008.0,236462.0,236897.0,237309.0,237609.0,238258.0,238762.0,239539.0,240159.0,240695.0,241438.0,241904.0,242413.0,242472.0,242399.0,242359.0,242290.0,242286.0,242178.0,242186.0,242399.0,242882.0,243491.0,244022.0,244150.0,243982.0,243952.0,244966.0,246635.0,249528.0,252392.0,255201.0,257432.0,258905.0,261216.0,263319.0,266367.0,269105.0,272894.0,277086.0,281183.0,284285.0
3,"Dallas-Fort Worth, TX",Dallas,TX,130189.0,130293.0,130379.0,130591.0,130813.0,130998.0,131197.0,131563.0,132018.0,132548.0,133032.0,133525.0,133737.0,133416.0,133135.0,133016.0,133234.0,133301.0,133373.0,133667.0,133894.0,134097.0,134146.0,134292.0,134433.0,134727.0,135101.0,135644.0,136139.0,136825.0,137438.0,138076.0,138532.0,138947.0,139339.0,139702.0,139972.0,140115.0,140302.0,140499.0,140681.0,140875.0,140939.0,141106.0,141276.0,141549.0,141760.0,...,226332.0,227943.0,229771.0,231604.0,233242.0,235051.0,237050.0,239004.0,240541.0,241703.0,242827.0,243809.0,245021.0,246033.0,247115.0,248166.0,249478.0,251185.0,252317.0,252956.0,253000.0,253123.0,253125.0,253198.0,253894.0,255049.0,255607.0,255857.0,255753.0,256753.0,257697.0,258951.0,259564.0,259977.0,260582.0,261634.0,263985.0,266577.0,269672.0,272051.0,274646.0,276926.0,280361.0,284368.0,289886.0,296250.0,303499.0,311268.0,319368.0,326597.0
4,"Philadelphia, PA",Philadelphia,PA,130108.0,130544.0,130806.0,131458.0,131984.0,132580.0,133127.0,133709.0,134356.0,135026.0,135635.0,136174.0,136720.0,137377.0,138131.0,138913.0,139638.0,140401.0,141279.0,142249.0,143283.0,144221.0,145218.0,145990.0,146813.0,147590.0,148584.0,149696.0,150834.0,152115.0,153463.0,155176.0,156987.0,158791.0,160297.0,161832.0,163257.0,164698.0,166032.0,167574.0,169293.0,171173.0,173205.0,175318.0,177453.0,179377.0,181171.0,...,228519.0,229180.0,230204.0,231237.0,232377.0,233301.0,234518.0,235991.0,237497.0,238480.0,238988.0,239460.0,239993.0,240790.0,241525.0,242581.0,243589.0,244627.0,245378.0,246242.0,246899.0,247531.0,247757.0,248190.0,248640.0,249115.0,249530.0,250036.0,250917.0,251845.0,252847.0,253350.0,254379.0,255193.0,256515.0,258139.0,260754.0,263920.0,267605.0,271131.0,274818.0,278042.0,281127.0,284242.0,287535.0,291946.0,296765.0,301366.0,304989.0,307863.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,"Lamesa, TX",Lamesa,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65196.0,65394.0,65587.0,65732.0,66026.0,66541.0,67038.0,67638.0,68026.0,68382.0,68647.0,68921.0,69132.0,69465.0,69740.0,70260.0,70669.0,71102.0,71503.0,71960.0,72530.0,73052.0,73506.0,73785.0,74028.0,74314.0,74731.0,75160.0,75399.0,75599.0,75580.0,75676.0,75891.0,76251.0,76612.0,76729.0,76813.0,77058.0,77418.0,78411.0,79310.0,80172.0,80559.0,80926.0,80844.0,81005.0,81142.0,81938.0,82554.0,NaN
904,"Craig, CO",Craig,CO,95358.0,95704.0,96290.0,96987.0,97707.0,98250.0,99351.0,100029.0,100163.0,99743.0,100402.0,101533.0,102770.0,103233.0,103900.0,104679.0,105708.0,106094.0,106512.0,106591.0,106858.0,107012.0,107508.0,107965.0,108261.0,108561.0,109088.0,109885.0,110661.0,111539.0,112477.0,113052.0,113510.0,113717.0,113956.0,114119.0,114074.0,114113.0,113971.0,114191.0,114331.0,114718.0,115138.0,115885.0,116717.0,117336.0,117495.0,...,209363.0,208549.0,207665.0,207310.0,207653.0,208249.0,208800.0,208979.0,208541.0,207783.0,206231.0,205071.0,204539.0,204601.0,204628.0,204622.0,204613.0,204755.0,204962.0,205157.0,205061.0,204802.0,204667.0,204659.0,204975.0,205374.0,206018.0,205655.0,205022.0,204333.0,204403.0,204646.0,204679.0,204413.0,204152.0,204046.0,204510.0,205215.0,206219.0,207460.0,208341.0,209077.0,210293.0,211919.0,213791.0,216085.0,218349.0,220683.0,222523.0,NaN
905,"Pecos, TX",Pecos,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126594.0,128398.0,128791.0,130041.0,129791.0,130284.0,131794.0,133003.0,133379.0,134781.0,134933.0,136270.0,136195.0,136991.0,138303.0,139266.0,140898.0,142566.0,143997.0,145582.0,149426.0,155713.0
906,"Vernon, TX",Vernon,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64491.0,64705.0,64915.0,65096.0,65364.0,65714.0,66119.0,66435.0,66637.0,66780.0,66954.0,66979.0,66971.0,67061.0,67273.0,67491.0,67587.0,67725.0,67852.0,67996.0,68108.0,68197.0,68260.0,68330.0,68371.0,68328.0,68395.0,68449.0,68614.0,68562.0,68348.0,68143.0,67970.0,67996.0,67897.0,67915.0,67879.0,67993.0,67997.0,68165.0,68175.0,68286.0,68570.0,68718.0,68811.0,68969.0,69419.0,69912.0,70115.0,NaN
907,"Ketchikan, AK",Ketchikan,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,291114.0,290726.0,290570.0,290597.0,291495.0,292161.0,292614.0,292728.0,292840.0,293065.0,293946.0,294556.0,294775.0,294721.0,294842.0,295382.0,296222.0,297294.0,298685.0,299806.0,301023.0,302262.0,303556.0,305184.0,306508.0,308065.0,309210.0,309954.0,310416.0,310717.0,310797.0,310582.0,310038.0,309799.0,309680.0,310118.0,310852.0,311805.0,312886.0,315487.0,318154.0,320828.0,321310.0,321752.0,322049.0,322418.0,322547.0,322622.0,323793.0,329137.0

### ZHVI -   Melt the dataframe and get year data so that every row has city, state, year and a census variable

In [41]:
# Melt the dataframe to get one observation per row
id_cols = ['RegionName','city','state']
value_cols = [i for i in df_zhvi.columns if i not in id_cols]
df_zhvi_melt = df_zhvi.melt(id_vars=id_cols, value_vars = value_cols, var_name='zhvi_variable', value_name='zhvi_value')

# Get the year
df_zhvi_melt.insert(loc=3, column='year', value = [int(re.findall("[0-9][0-9][0-9][0-9]", i)[0]) for i in df_zhvi_melt.zhvi_variable])

df_zhvi_melt

,RegionName,city,state,year,zhvi_variable,zhvi_value
0,"New York, NY",New York,NY,2000,2000-01-31,225438.0
1,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,CA,2000,2000-01-31,231209.0
2,"Chicago, IL",Chicago,IL,2000,2000-01-31,170602.0
3,"Dallas-Fort Worth, TX",Dallas,TX,2000,2000-01-31,130189.0
4,"Philadelphia, PA",Philadelphia,PA,2000,2000-01-31,130108.0
...,...,...,...,...,...,...
236983,"Lamesa, TX",Lamesa,TX,2021,2021-09-30,NaN
236984,"Craig, CO",Craig,CO,2021,2021-09-30,NaN
236985,"Pecos, TX",Pecos,TX,2021,2021-09-30,155713.0
236986,"Vernon, TX",Vernon,TX,2021,2021-09-30,NaN
236987,"Ketchikan, AK",Ketchikan,AK,2021,2021-09-30,329137.0

### Get Median ZHVI for each region and year

In [52]:
df_zhvi_meds = df_zhvi_melt.groupby(['city','state','year']).median().reset_index()
df_zhvi_meds

           city state  year  zhvi_value
0      Aberdeen    SD  2000         NaN
1      Aberdeen    SD  2001         NaN
2      Aberdeen    SD  2002         NaN
3      Aberdeen    SD  2003         NaN
4      Aberdeen    SD  2004         NaN
...         ...   ...   ...         ...
19971    Zapata    TX  2017     87775.5
19972    Zapata    TX  2018     89955.0
19973    Zapata    TX  2019     94402.0
19974    Zapata    TX  2020     96690.5
19975    Zapata    TX  2021    100929.0

[19976 rows x 4 columns]

In [42]:
# # Get median zhvi for every year in a region
# regions, states, cities, years, meds = [],[],[],[],[]

# print("Length:", len(set(df_zhvi_melt.RegionName)), end=' ')
# count = 0
# for region in set(df_zhvi_melt.RegionName):
#     count += 1
#     if count % 10 == 0:
#         print(count, end=', ')
#     df_temp = df_zhvi_melt.query(F"RegionName == '{region}'").reset_index(drop=True)
#     city = df_temp.city.loc[0]
#     state = df_temp.state.loc[0]
        
#     for year in set(df_temp.year):
#         med_zhvi = df_temp.query(F"year == {year}").zhvi_value.median()
        
#         regions.append(region)
#         states.append(state)
#         cities.append(city) 
#         years.append(year)
#         meds.append(med_zhvi)

# df_zhvi_meds = pd.DataFrame({
#     'region':regions,
#     'city':cities,
#     'state':states,
#     'year':years,
#     'med_zhvi':meds
# })

# df_zhvi_meds = df_zhvi_meds.drop(columns='region')
# df_zhvi_meds

Length: 908 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900,

               city state  year  med_zhvi
0      Seneca Falls    NY  2000   66434.5
1      Seneca Falls    NY  2001   71229.5
2      Seneca Falls    NY  2002   76359.0
3      Seneca Falls    NY  2003   81548.5
4      Seneca Falls    NY  2004   92045.0
...             ...   ...   ...       ...
19971    Des Moines    IA  2017  186841.5
19972    Des Moines    IA  2018  196728.5
19973    Des Moines    IA  2019  203314.5
19974    Des Moines    IA  2020  208956.0
19975    Des Moines    IA  2021  227206.0

[19976 rows x 4 columns]

# Housing ZORI Data
Zillow Observed Rent Index

In [43]:
df_zori = pd.read_csv('Metro_ZORI_AllHomesPlusMultifamily_SSA.csv')

# Drop United State from the df
df_zori = df_zori.query("RegionName != 'United States'").reset_index(drop=True)

# Change problematic apostrophes in RegionName
df_zori.RegionName = [df_zori.RegionName.loc[i].replace("'", '^') for i in range(len(df_zori))]

# Drop unnecessary columns & rename StateName
df_zori = df_zori.drop(columns=['RegionID','SizeRank'])
df_zori = df_zori.rename({'StateName':'primary_state'}, axis=1)

# Get the primary (first listed) state of each area
df_zori.insert(loc=1, column='state', value=[i.split(', ')[1].split('-')[0] for i in df_zori.RegionName])

# Get the primary city
df_zori.insert(loc=1, column='city', value=[i.split('-')[0] for i in df_zori.RegionName])
df_zori.city = [df_zori.city.loc[i].split(',')[0] for i in range(len(df_zori))]

df_zori

,RegionName,city,state,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09
0,"New York, NY",New York,NY,2294.0,2304,2315.0,2325,2335,2345,2355,2365,2376,2386,2396,2405,2415,2424,2434,2443,2451,2460,2469,2476,2483,2491,2496,2502,2507,2512,2516,2521,2524,2528,2532,2535,2539,2542,2546,2550,2553,2557,2561,2565,2568,2571,2574,2577,2579,2582,2584,2587,2589,2593,2596,2599,2603,2607,2611,2616,2621,2626,2632,2638,2643,2649,2654,2659,2664,2669,2674,2677,2681,2684,2682,2679,2676,2663,2649,2636,2618,2599,2580,2563,2545,2528,2529,2530,2530,2540,2550,2559,2571.0,2583,2594,2609,2623.0
1,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,CA,1702.0,1712,1723.0,1733,1743,1753,1764,1774,1784,1794,1805,1815,1825,1835,1845,1855,1865,1875,1885,1896,1906,1917,1927,1938,1948,1958,1968,1978,1987,1996,2005,2014,2023,2032,2041,2050,2059,2068,2076,2085,2093,2102,2110,2118,2125,2133,2140,2148,2155,2162,2170,2177,2185,2193,2200,2208,2216,2223,2231,2238,2245,2252,2259,2266,2272,2278,2285,2290,2295,2300,2301,2303,2305,2303,2302,2301,2299,2297,2295,2296,2296,2296,2307,2318,2328,2343,2358,2373,2389.0,2405,2421,2438,2455.0
2,"Chicago, IL",Chicago,IL,1418.0,1422,1426.0,1430,1433,1437,1441,1444,1448,1451,1455,1458,1462,1465,1469,1473,1476,1480,1484,1489,1493,1498,1503,1508,1512,1516,1520,1524,1526,1529,1532,1535,1538,1540,1543,1546,1548,1551,1553,1556,1558,1561,1564,1566,1569,1572,1574,1577,1579,1582,1584,1587,1589,1592,1595,1598,1601,1604,1607,1611,1614,1618,1621,1625,1629,1633,1636,1639,1643,1646,1647,1648,1649,1647,1645,1643,1640,1637,1633,1631,1628,1626,1629,1633,1637,1643,1650,1656,1663.0,1670,1677,1685,1693.0
3,"Dallas-Fort Worth, TX",Dallas,TX,1185.0,1189,1193.0,1196,1200,1204,1208,1212,1216,1220,1224,1228,1232,1237,1242,1247,1252,1256,1261,1266,1271,1276,1281,1286,1291,1297,1302,1308,1313,1319,1324,1329,1335,1340,1344,1349,1354,1358,1363,1368,1372,1376,1381,1385,1389,1394,1397,1401,1405,1409,1412,1416,1420,1424,1428,1432,1437,1441,1446,1450,1455,1459,1464,1468,1472,1476,1481,1484,1487,1491,1493,1495,1497,1498,1500,1501,1503,1506,1508,1513,1518,1523,1536,1549,1562,1579,1595,1612,1629.0,1646,1663,1681,1699.0
4,"Philadelphia, PA",Philadelphia,PA,1301.0,1304,1307.0,1309,1312,1315,1317,1320,1323,1325,1328,1331,1335,1337,1340,1343,1346,1349,1353,1356,1360,1364,1367,1370,1374,1377,1380,1383,1386,1389,1392,1395,1398,1400,1403,1405,1408,1410,1413,1415,1418,1421,1424,1427,1430,1432,1436,1439,1442,1446,1449,1453,1457,1461,1465,1469,1473,1477,1481,1485,1489,1493,1497,1501,1505,1509,1513,1516,1520,1523,1526,1528,1530,1532,1534,1536,1538,1540,1542,1545,1548,1551,1558,1565,1572,1580,1589,1598,1606.0,1615,1624,1634,1643.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,"Durham, NC",Durham,NC,1096.0,1099,1103.0,1107,1111,1115,1119,1123,1127,1131,1134,1137,1140,1143,1146,1149,1152,1156,1159,1163,1167,1171,1175,1179,1183,1187,1191,1195,1200,1204,1209,1213,1216,1220,1223,1227,1230,1233,1235,1238,1240,1242,1244,1246,1248,1251,1254,1256,1259,1262,1266,1269,1273,1276,1280,1285,1289,1294,1299,1304,1308,1313,1318,1324,1328,1332,1337,1339,1342,1345,1346,1348,1349,1350,1351,1352,1354,1356,1359,1363,1366,1370,1380,1389,1399,1411,1423,1436,1448.0,1461,1473,1486,1499.0
100,"Port St. Lucie, FL",Port St. Lucie,FL,1064.0,1072,1080.0,1089,1096,1104,1112,1120,1128,1135,1142,1148,1154,1160,1166,1172,1179,1185,1192,1200,1209,1217,1226,1235,1244,1252,1259,1267,1274,1280,1287,1293,1299,1305,1311,1317,1324,1330,1337,1344,1351,1357,1364,1371,1379,1386,1394,1401,1409,1417,1424,1432,1439,1447,1454,1460,1467,1473,1477,1482,1486,1491,1496,1501,1507,1514,1520,1526,1533,1539,1545,1551,1557,1564,1571,1578,1588,1597,1607,1620,1633,1647,1670,1694,1717,1744,1771,1798,1825.0,1853,1880,1908,1937.0
101,"Fort Collins, CO",Fort Collins,CO,1206.0,1213,1220.0,1226,1233,1240,1246,1253,1260,1267,1275,1283,1291,1298,1306,1314,1319,1325,1331,1335,1340,1344,1348,1353,1357,1360,1364,1367,1370,1373,1376,1379,1383,1386,1388,1391,1393,1395,1397,1399,1402,1405,1408,1411,1414,1417,1421,1424,1428,1432,1436,1440,1445,1449,1453,1458,1463,1467,1471,1475,1479,1483,1487,1490,1494,1498,1501,1505,1508,1512,1514,1517,1520,1522,1524,1526,1529,1531,1533,1537,1541,1545,1555,1564,1574,1585,1596,1608,1620.0,1632,1644,1656,1668.0
102,"Boulder, CO",Boulder,CO,1493.0,1500,1508.0,1515,1523,1531,1538,1546,1554,1562,1572,1583,1593,1603,1614,1625,1636,1648,1659,1669,1679,1690,1697,1705,1713,1718,1723,1728,1731,1733,1736,1738,1739,1741,1743,1745,1748,1751,1754,1758,1763,1767,1772,1777,1782,1787,1793,1798,1804,1810,1816,1823,1828,1834,1840,1845,1851,1857,1862,1868,1873,1878,1883,1888,1893,1898,1903,1906,1910,1914,1915,1917,1918,1920,1921,1922,1926,1929,1932,1939,1946,1953,1966,1979,1992,2008,2023,2038,2053.0,2069,2084,2100,2116.0
103,"Gainesville, GA",Gainesville,GA,930.0,932,935.0,937,940,943,945,948,951,954,958,962,966,972,978,984,990,996,1002,1006,1011,1015,1019,1023,1026,1031,1036,1040,1045,1050,1056,1061,1067,1072,1078,1083,1089,1094,1098,1103,1108,1113,1117,1123,1128,1133,1138,1142,1147,1151,1154,1158,1163,1168,1173,1179,1185,1192,1198,1205,1212,1218,1225,1232,1237,1243,1249,1252,1256,1259,1261,1263,1266,1268,1271,1274,1280,1285,1291,1301,1312,1322,1343,1363,1384,1408,1431,1454,NaN,1502,1527,1551,1576.0

### ZORI -   Melt the dataframe and get year data so that every row has city, state, year and a census variable

In [44]:
# Melt the dataframe to get one observation per row
id_cols = ['RegionName','city','state']
value_cols = [i for i in df_zori.columns if i not in id_cols]
df_zori_melt = df_zori.melt(id_vars=id_cols, value_vars = value_cols, var_name='zori_variable', value_name='zori_value')

# Get the year
df_zori_melt.insert(loc=3, column='year', value = [int(re.findall("[0-9][0-9][0-9][0-9]", i)[0]) for i in df_zori_melt.zori_variable])

df_zori_melt

,RegionName,city,state,year,zori_variable,zori_value
0,"New York, NY",New York,NY,2014,2014-01,2294.0
1,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,CA,2014,2014-01,1702.0
2,"Chicago, IL",Chicago,IL,2014,2014-01,1418.0
3,"Dallas-Fort Worth, TX",Dallas,TX,2014,2014-01,1185.0
4,"Philadelphia, PA",Philadelphia,PA,2014,2014-01,1301.0
...,...,...,...,...,...,...
9667,"Durham, NC",Durham,NC,2021,2021-09,1499.0
9668,"Port St. Lucie, FL",Port St. Lucie,FL,2021,2021-09,1937.0
9669,"Fort Collins, CO",Fort Collins,CO,2021,2021-09,1668.0
9670,"Boulder, CO",Boulder,CO,2021,2021-09,2116.0
9671,"Gainesville, GA",Gainesville,GA,2021,2021-09,1576.0

### Get Median ZORI for each region and year

In [53]:
df_zori_meds = df_zori_melt.groupby(['city','state','year']).median().reset_index()
df_zori_meds

           city state  year  zori_value
0         Akron    OH  2014       799.5
1         Akron    OH  2015       836.0
2         Akron    OH  2016       854.0
3         Akron    OH  2017       870.5
4         Akron    OH  2018       889.0
..          ...   ...   ...         ...
827  Youngstown    OH  2017       650.5
828  Youngstown    OH  2018       670.5
829  Youngstown    OH  2019       687.5
830  Youngstown    OH  2020       721.5
831  Youngstown    OH  2021       792.0

[832 rows x 4 columns]

In [45]:
# # Get median zori for every year in a region
# regions, states, cities, years, meds = [],[],[],[],[]

# print("Length:", len(set(df_zori_melt.RegionName)), end=' ')
# count = 0
# for region in set(df_zori_melt.RegionName):
#     count += 1
#     if count % 10 == 0:
#         print(count, end=', ')
#     df_temp = df_zori_melt.query(F"RegionName == '{region}'").reset_index(drop=True)
#     city = df_temp.city.loc[0]
#     state = df_temp.state.loc[0]
        
#     for year in set(df_temp.year):
#         med_zori = df_temp.query(F"year == {year}").zori_value.median()
        
#         regions.append(region)
#         states.append(state)
#         cities.append(city) 
#         years.append(year)
#         meds.append(med_zori)

# df_zori_meds = pd.DataFrame({
#     'region':regions,
#     'city':cities,
#     'state':states,
#     'year':years,
#     'med_zori':meds
# })
# df_zori_meds = df_zori_meds.drop(columns='region')
# df_zori_meds

Length: 104 10, 20, 30, 40, 50, 60, 70, 80, 90, 100,

              city state  year  med_zori
0    Daytona Beach    FL  2016    1138.0
1    Daytona Beach    FL  2017    1199.5
2    Daytona Beach    FL  2018    1276.5
3    Daytona Beach    FL  2019    1342.5
4    Daytona Beach    FL  2020    1402.5
..             ...   ...   ...       ...
827     Des Moines    IA  2019    1070.5
828     Des Moines    IA  2020    1090.5
829     Des Moines    IA  2021    1128.0
830     Des Moines    IA  2014     992.5
831     Des Moines    IA  2015    1014.5

[832 rows x 4 columns]

# Join Datasets

In [54]:
df_zillow = pd.merge(left = df_zhvi_meds, right=df_zori_meds, how='outer', on=['city','state','year'])
df_zillow

           city state  year  zhvi_value  zori_value
0      Aberdeen    SD  2000         NaN         NaN
1      Aberdeen    SD  2001         NaN         NaN
2      Aberdeen    SD  2002         NaN         NaN
3      Aberdeen    SD  2003         NaN         NaN
4      Aberdeen    SD  2004         NaN         NaN
...         ...   ...   ...         ...         ...
19971    Zapata    TX  2017     87775.5         NaN
19972    Zapata    TX  2018     89955.0         NaN
19973    Zapata    TX  2019     94402.0         NaN
19974    Zapata    TX  2020     96690.5         NaN
19975    Zapata    TX  2021    100929.0         NaN

[19976 rows x 5 columns]

In [55]:
df_master = pd.merge(left= df_census_pivot, right = df_zillow, how='left', on=['city','state','year'])
df_master

,city,state,year,births_census,censuspop_census,deaths_census,domesticmig_census,estimatesbase_census,internationalmig_census,naturalinc_census,netmig_census,npopchg_census,popestimate_census,residual_census,zhvi_value,zori_value
0,Abilene,TX,2010,541.0,165252.0,410.0,123.0,165252.0,89.0,131.0,212.0,338.0,165590.0,-5.0,101849.5,NaN
1,Abilene,TX,2011,2292.0,NaN,1501.0,68.0,NaN,206.0,791.0,274.0,1061.0,166651.0,-4.0,98293.5,NaN
2,Abilene,TX,2012,2359.0,NaN,1590.0,-456.0,NaN,529.0,769.0,73.0,832.0,167483.0,-10.0,100745.0,NaN
3,Abilene,TX,2013,2391.0,NaN,1691.0,-1064.0,NaN,373.0,700.0,-691.0,32.0,167515.0,23.0,101952.5,NaN
4,Abilene,TX,2014,2385.0,NaN,1597.0,-308.0,NaN,433.0,788.0,125.0,893.0,168408.0,-20.0,108733.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4219,Yuma,AZ,2016,3007.0,NaN,1511.0,-441.0,NaN,932.0,1496.0,491.0,1975.0,207162.0,-12.0,139248.0,NaN
4220,Yuma,AZ,2017,3006.0,NaN,1457.0,-40.0,NaN,581.0,1549.0,541.0,2082.0,209244.0,-8.0,147331.0,NaN
4221,Yuma,AZ,2018,2916.0,NaN,1594.0,374.0,NaN,314.0,1322.0,688.0,2001.0,211245.0,-9.0,155471.5,NaN
4222,Yuma,AZ,2019,3104.0,NaN,1659.0,777.0,NaN,720.0,1445.0,1497.0,2937.0,214182.0,-5.0,161821.0,NaN
4223,Yuma,AZ,2020,3008.0,NaN,1880.0,1920.0,NaN,585.0,1128.0,2505.0,3642.0,217824.0,9.0,172090.5,NaN

In [56]:
df_master.query("city == 'New York'")

,city,state,year,births_census,censuspop_census,deaths_census,domesticmig_census,estimatesbase_census,internationalmig_census,naturalinc_census,netmig_census,npopchg_census,popestimate_census,residual_census,zhvi_value,zori_value
2739,New York,NY,2010,61878.0,18897109.0,31931.0,-24138.0,18896285.0,21868.0,29947.0,-2270.0,27152.0,18923437.0,-525.0,404435.5,NaN
2740,New York,NY,2011,247572.0,NaN,135400.0,-86161.0,NaN,103617.0,112172.0,17456.0,129687.0,19053124.0,59.0,390899.0,NaN
2741,New York,NY,2012,243023.0,NaN,131949.0,-111777.0,NaN,98508.0,111074.0,-13269.0,97329.0,19150453.0,-476.0,376842.0,NaN
2742,New York,NY,2013,242529.0,NaN,138295.0,-115585.0,NaN,89001.0,104234.0,-26584.0,77004.0,19227457.0,-646.0,385507.0,NaN
2743,New York,NY,2014,240755.0,NaN,134684.0,-146459.0,NaN,95069.0,106071.0,-51390.0,54681.0,19282138.0,0.0,405311.0,2350.0
2744,New York,NY,2015,242697.0,NaN,138029.0,-169071.0,NaN,104228.0,104668.0,-64843.0,40101.0,19322239.0,276.0,414813.5,2464.5
2745,New York,NY,2016,241453.0,NaN,136119.0,-197835.0,NaN,106460.0,105334.0,-91375.0,14217.0,19336456.0,258.0,426134.5,2530.0
2746,New York,NY,2017,236744.0,NaN,140309.0,-203430.0,NaN,95474.0,96435.0,-107956.0,-11341.0,19325115.0,180.0,445638.5,2572.5
2747,New York,NY,2018,235154.0,NaN,140953.0,-198717.0,NaN,68752.0,94201.0,-129965.0,-35695.0,19289420.0,69.0,470795.5,2609.0
2748,New York,NY,2019,229366.0,NaN,148762.0,-194533.0,NaN,57282.0,80604.0,-137251.0,-56926.0,19232494.0,-279.0,481874.5,2671.5
2749,New York,NY,2020,226416.0,NaN,163362.0,-216810.0,NaN,46173.0,63054.0,-170637.0,-108135.0,19124359.0,-552.0,489204.5,2589.5

In [98]:
df2 = df_master.query("year == 2020")[['city','state','popestimate_census']].sort_values('popestimate_census', ascending=False).reset_index(drop=True)

In [112]:
df2 = df2.loc[5:].reset_index(drop=True)
df2

             city state  popestimate_census
0      Washington    DC           6324629.0
1           Miami    FL           6173008.0
2    Philadelphia    PA           6107906.0
3         Atlanta    GA           6087762.0
4         Phoenix    AZ           5059909.0
..            ...   ...                 ...
374      Danville    IL             74855.0
375      Lewiston    ID             63575.0
376   Walla Walla    WA             61292.0
377          Enid    OK             60869.0
378   Carson City    NV             56034.0

[379 rows x 3 columns]

In [121]:


quantile_ranges

[[0, 94], [94, 188], [188, 282], [282, 376]]

In [123]:
random.seed(100)

quantile_ranges = []
counter = int(len(df2)/4)

num = 0
for i in range(4):
    qrange = [num]
    qrange.append(counter*(i+1))
    num=counter*(i+1)
    quantile_ranges.append(qrange)

qs = []
print(q)

msas = pd.DataFrame()
for qrange in quantile_ranges:
    count = 0
    while count < 5:
        q = random.randint(qrange[0],qrange[1])
        
        if q in qs:
            continue
        
        qs.append(q)
        
        temp = pd.DataFrame(df2.loc[q]).transpose()
        msas = pd.concat([msas, temp])
        
        count += 1
        
msas.sort_values('popestimate_census', ascending=False).reset_index(drop=True)

368

               city state popestimate_census
0           Detroit    MI          4304136.0
1        Cincinnati    OH          2232907.0
2        Charleston    SC           819705.0
3             Ogden    UT           691359.0
4           Wichita    KS           643768.0
5      Myrtle Beach    SC           514488.0
6           Trenton    NJ           367239.0
7           Lincoln    NE           337836.0
8          Rockford    IL           334072.0
9         Kennewick    WA           303501.0
10       Burlington    VT           221160.0
11  Charlottesville    VA           219910.0
12      Gainesville    GA           206591.0
13      Punta Gorda    FL           194711.0
14           Pueblo    CO           169823.0
15       Morgantown    WV           140199.0
16             Napa    CA           135965.0
17        Watertown    NY           108095.0
18       Bloomsburg    PA            82884.0
19         Lewiston    ID            63575.0

In [68]:
df2.quantile(q=q, axis=0, numeric_only=True, interpolation='linear')

Docstring:
randint(low, high=None, size=None, dtype=int)

Return random integers from `low` (inclusive) to `high` (exclusive).

Return random integers from the "discrete uniform" distribution of
the specified dtype in the "half-open" interval [`low`, `high`). If
`high` is None (the default), then results are from [0, `low`).

.. note::
    New code should use the ``integers`` method of a ``default_rng()``
    instance instead; please see the :ref:`random-quick-start`.

Parameters
----------
low : int or array-like of ints
    Lowest (signed) integers to be drawn from the distribution (unless
    ``high=None``, in which case this parameter is one above the
    *highest* such integer).
high : int or array-like of ints, optional
    If provided, one above the largest (signed) integer to be drawn
    from the distribution (see above for behavior if ``high=None``).
    If array-like, must contain integer values
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
dtype : dtype, optional
    Desired dtype of the result. Byteorder must be native.
    The default value is int.

    .. versionadded:: 1.11.0

Returns
-------
out : int or ndarray of ints
    `size`-shaped array of random integers from the appropriate
    distribution, or a single such random int if `size` not provided.

See Also
--------
random_integers : similar to `randint`, only for the closed
    interval [`low`, `high`], and 1 is the lowest value if `high` is
    omitted.
Generator.integers: which should be used for new code.

Examples
--------
>>> np.random.randint(2, size=10)
array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
>>> np.random.randint(1, size=10)
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Generate a 2 x 4 array of ints between 0 and 4, inclusive:

>>> np.random.randint(5, size=(2, 4))
array([[4, 0, 2, 1], # random
       [3, 2, 2, 0]])

Generate a 1 x 3 array with 3 different upper bounds

>>> np.random.randint(1, [3, 5, 10])
array([2, 2, 9]) # random

Generate a 1 by 3 array with 3 different lower bounds

>>> np.random.randint([1, 5, 7], 10)
array([9, 8, 7]) # random

Generate a 2 by 4 array using broadcasting with dtype of uint8

>>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
array([[ 8,  6,  9,  7], # random
       [ 1, 16,  9, 12]], dtype=uint8)
Type:      builtin_function_or_method